---
title: My Master's Thesis
people:
  - name: Jan Janssens
    url: https://example.com
    webid: https://example.com/me
    student_number: 0123456789
    function: Author
  - name: Prof. dr. Jef Jefferson
    function: Supervisor
  - name: Peter Peterson
    function: Counsellor
degree: Master of Science in de informatica
academic_year: 2021-2022
---

<main>
  <%= section 'summary_en' %><span class="pagebreak"></span>
  <%= section 'summary_nl' %><span class="pagebreak"></span>
  <%= section 'extended_abstract_en' %><span class="pagebreak"></span>
  <%= section 'extended_abstract_nl' %><span class="pagebreak"></span>
  <%= section 'vulgarizing_summary' %><span class="pagebreak"></span>
  <%= section 'acknowledgments' %><span class="pagebreak"></span>
  <%= section 'permission' %><span class="pagebreak"></span>
  <div id="scholarmarkdown-toc-index"></div><span class="pagebreak"></span>

  <% (1..2).each do |num| %>
    <%= section 'corpus/chapter' + num.to_s %><span class="pagebreak"></span>
  <% end %>

  <h2>TODO: Bibliography</h2>
  <h2>Appendices</h2>
  
</main>

<footer></footer>
