---
title: My Master's Thesis
people:
  - name: Jan Janssens
    url: https://example.com/jjanssens
    webid: https://example.com/jjanssens#me
    student_number: 0123456789
    function: Author
  - name: Prof. dr. Jef Jefferson
    url: https://example.com/jjefferson
    webid: https://example.com/jjefferson#me
    function: Supervisor
  - name: Peter Peterson
    url: https://example.com/ppeterson
    webid: https://example.com/ppeterson#me
    function: Counsellor
degree: Master of Science in de informatica
academic_year: 2021-2022
---

<main>
  <%= section 'summary_en' %><span class="pagebreak"></span>
  <%= section 'summary_nl' %><span class="pagebreak"></span>
  <%= section 'extended_abstract_en' %><span class="pagebreak"></span>
  <%= section 'extended_abstract_nl' %><span class="pagebreak"></span>
  <%= section 'vulgarizing_summary' %><span class="pagebreak"></span>
  <%= section 'acknowledgments' %><span class="pagebreak"></span>
  <%= section 'permission' %><span class="pagebreak"></span>
  <div id="scholarmarkdown-toc-index"></div><span class="pagebreak"></span>

  <% (1..2).each do |num| %>
    <%= section 'corpus/chapter' + num.to_s %><span class="pagebreak"></span>
  <% end %>

  <section id="bibliography"><h2 class="noincrement">Bibliography</h2></section><span class="pagebreak"></span>
</main>

<section id="appendix"><h2 class="noincrement">Appendices</h2></section>

<footer></footer>
